body{
  font-family: 'Karla', sans-serif !important;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); 
  font-size: 14px;
}

select {
    padding:10px;
    margin: 0px 10px !important;
    width: 150px;
    border-radius:2px;
    border: 1px solid #fff;
    background: #fff;
    color:#000;
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
    font-size: 13px;
    margin: 0px 10px;
    text-align: center
}

select:hover{
  border: 1px solid #ccc

}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {
  position:relative;
}

label:after {
    content:'<>';
    font:14px "Consolas", monospace;
    color:#aaa;
    transform:rotate(90deg);
    right:14px; 
    top:12px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

label:before {
    content:'';
    right:14px; top:4px;
    width:20px; height:20px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

.btn {
  color: #ffffff;
  font-size: 13px;
  background: #1D5377;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  border: 0;
  margin: 0px 10px;
}

.btn:hover {
  background: #3232D1;
  color: #ffffff !important;
  text-decoration: none;
}

.SearchSection{
  padding: 30px;
  text-align: center;
}

.SearchSection form{
  background: #3E6492;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 26px;
  margin-bottom: 40px;
}

.SearchSection form div{
  margin-top: 20px;
}

.SearchSection form img{
  width: 250px;
}

.SearchSection section{
  padding: 30px;
  text-align: left
}

.custom-tooltip{
  background-color: #3232D1;
  color: #fff;
  padding: 10px 5px;
  opacity: 0.8
}


.custom-tooltip ul{
  text-align: left;
}


@media screen and (max-width: 768px) {
  .SearchSection form div{
    margin-top: 20px;
    text-align: right
  }
  label:after {
      content:'<>';
      font:14px "Consolas", monospace;
      color:#aaa;
      transform:rotate(90deg);
      right:14px; 
      top:8px;
      padding:0 0 2px;
      border-bottom:1px solid #ddd;
      position:absolute;
      pointer-events:none;
  }
  
  .SearchSection section{
    padding: 7px;
    text-align: left
  }
}
